---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<img src="../img/logo.webp" alt="">
			<button>Menu</button>
		</header>
		<main></main>
		<footer></footer>
	</body>
</html>

<style>
	body {
		background-color: #FFF7EC;
	}
</style>
