---

---

<div class="section">
    <h2>Del din oplevelse</h2>

    <p>Del din oplevelse med os her</p>
    <button class="testi_field1">Navn</button>
    <button class="testi_field2">Mail</button>
    <button class="testi_field3">Skriv om din oplevelse her</button>

    <a href="">Se mere</a>

</div>




<style>
    .section {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
        margin: auto;
    }

	h2 {
		font-family: Aviano;
		font-size: 2.6rem;
		font-weight: 100;
		margin-bottom: 20px;
		color: var(--text-orange);
		padding-left: 20px;
        text-align: center;
	}

    p {
        font-family: Georgia;
        font-size: 1.3rem;
        color: var(--text-black);
    }

    .testi_field1, .testi_field2, .testi_field3 {
        padding: 10px;
        border-radius: 5px;
        border: solid 1px var(--text-orange);
        background-color: var(--text-lightorange);
        color: var(--text-lightbrown);
        margin-top: 10px;
        font-family: Aviano;
        font-size: 1.1rem;
        width: 100%;
        text-align: left;
    }

    .testi_field3 {
        height: 100px;
        margin-bottom: 30px;
    }

    .section a {
		border: solid 1px var(--text-orange);
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 40px;
		padding-right: 40px;
		font-family: Aviano;
		color: var(--text-orange);
		border-radius: 5px;
		text-decoration: none;
		font-size: 1.3rem;
	}

    @media (min-width: 900px) {
        .section {
            max-width: 800px;
        }

        h2 {
            margin-bottom: 30px;
            margin-top: 30px;
        }
    }

</style>