---
const {overskrift,name,text} = Astro.props;
---




		<div class="testi_box">
			<p class="subject">{overskrift}</p>
            <p class="statement">{text}</p>
			<p class="customer">- {name}</p>
		</div>




<style>



    .testi_box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 1.1rem;
        font-family: Georgia;
        border: solid 1px var(--text-orange);
		background-color: var(--text-lightorange);
		margin: auto;
        padding: 20px;
		box-shadow: 3px 3px 7px gray;
        height: 235px;
        width: 80%;
        margin-bottom: 40px;
    }

    .subject {
        font-family: Aviano;
        font-size: 1.1rem;
        width: 100%;
        text-align: left;
        margin-top: 0px;
        color: var(--text-orange);
    }

    .statement {}

    .customer {
        color: var(--text-darkbrown);
        margin-top: auto;
    }



</style>