---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>OMADA.DELI</title>
	</head>
  <body>
    <Nav />
    <main>
      <slot/>
    </main>
	<Footer />
  </body>
</html>

<style>

</style>
