---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Hos Omada deli finder du råvarer, vin og læskende drikke, der bygger på bæredygtige og omsorgsfulde principper. Sammen kan vi støtte de selvstændige, danske og økologiske landbrug. Værdien bag vores varer bunder i glæden ved etisk landbrugsproduktion. En glæde og passion vi meget gerne vil dele med dig.">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
		<script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>
		<title>OMADA.DELI</title>
	</head>
  <body>
    <Nav />
    <main>
      <slot/>
    </main>
	<Footer />	
  </body>
</html>

<style>

</style>
